* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4e1d2;
}

#prvi {
    background-color:  #d2494e;
    padding-top: 10px;
    padding-bottom: 10px;
}

.horizontalno {
    margin: 25px;
}

.horizontalno li {
    display: inline;
    margin: 25px 20px 15px 10px;
}

.horizontalno li a {
    border: 2px solid #f4e1d2;
    border-radius: 5px;
    color: #f4e1d2;      
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;        
}

.horizontalno li a:hover {
    background-color: #f4e1d2;
    border: 2px dashed #d2494e;
    color: #d2494e
}

.horizontalno li a:active {
    color: #ffffff;
    background-color:  #f4e1d2; 
    border: 2px solid #ffffff; 
}

/*
.horizontalno li a:visited {
    color:  #ffddcc;
    background-color: #7a3b3e;
    border: 2px solid  #ffddcc;
}
*/



