body {
    background-color: lightgray;
}

p {
    text-align: right;
    font-family: "Comic Sans";
    font-style: italic;
    color: blue;
}

.odlomak1 {
    text-align: center;
    font-size: 110%;
    color: red;
    font-family: "Times New Roman";
}

#odlomak2 {
    font-family: Verdana;
    text-align:justify
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: yellow;
}